<div class="anc">
  <h2> {{"Announcements" | uppercase}}</h2>
  <ul>
    <li> Registrations for Odd Semester of Academic Year 2020-21.</li>
    <li>KLEEE Counselling 2020 - Principal's Orientation
      Online Counselling Registration.</li>
    <li>KLEEE--2020 Online Counselling/Admission Procedure</li>
    <li>Counselling Booklet 2020 - VJA Campus</li>
    <li>Counselling Booklet 2020 - HYD Campus</li>
    <li>PhD Admission Notification for 2020-21 (Odd Semester)</li>
    <li>KLEEE-2020 Results</li>
    <li>KL Free Online Courses.</li>
    <li>Social Message for a Healthy Lifestyle.</li>
    <li>Applications are invited for Faculty Positions.</li>
    <li>Applications are invited for Non Teaching Positions.</li>
    <li>Seating Plans.</li>
    <li>AICTE – Youth4work Online Skill Test.</li>
    <li>Alumni Registration Form.</li>
    <li>Weekly Weather bulletin for Andhra Pradesh.</li>
  </ul>
</div>
<div class="map">
  <h2>{{"klu is here !!" | uppercase }}</h2>
  <p>Green Fields, Vaddeswaram, Vijayawada , Andhra Pradesh - 522502</p>
  <div class="map1">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
