ul {
  list-style-type: none;
  font-size: 22px;
  font-family: sans-serif;
  line-height: 50px;
  background-color: whitesmoke;
  border: 3px solid lightslategrey;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 1px 1px 6px 6px #a54040;
}

div {
  font-size: 18px;
  background-color: lightgray;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  background-color: rgb(105, 105, 105);
  padding: 5px;
}

a:hover {
  color: lightskyblue;
  padding: 10px;
  font-weight: 600;
  font-size: 24px;
}

div li {
  list-style-type: circle;
  margin-left: 30px;
}

.pics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.pics img {
  border: 2px solid darkslategray;
}
