<ul>
  <li><a routerLink=" " (click)="showData1()">UG Admissions</a></li>
  <div *ngIf="showInfo1">
    <li>Computer Science and Engineering (CSE)</li>
    <li>Bio- Technology (BT)</li>
    <li>Civil Engineering (CE)</li>
    <li>Electronics and Communication Engineering(ECE)</li>
    <li>Electrical and Electronics Engineering (EEE)</li>
    <li>Mechanical Engineering (ME)</li>
    <li>Artificial Intelligence & Data Science(AI & DS)</li>
    <li>Information Technology(IT)</li>
    <h3>Eligibility Criteria for B.Tech Admission</h3>
    <p>Admissions will be made for B.Tech Programme by the following criteria:
      Candidates have to be successful in KLEEE (KL Engineering Entrance Examination)/ JEE-Main/ JEE-Advanced / State
      Level Engineering Entrance Exams across India including EAMCET and Merit in Sports/Cultural Activities.
    </p>
    <h3>Eligibility:</h3>
    <li>A Pass in 10+2 or equivalent examination with 60% and above in aggregate and 60% and above in Group subjects.
    </li>
    <li>Students with Physics, Chemistry and Mathematics (PCM) are eligible for all B.Tech programmes including
      Bio-Technology.</li>
    <li>Students with Physics, Chemistry and Biology (PCB) are eligible for B.Tech (Bio Technology) and B.Pharmacy.</li>
  </div>
  <li><a routerLink=" " (click)="showData2()">PG Admissions</a></li>
  <div *ngIf="showInfo2">
    <li>M.Tech</li>
    <li>Master Of Bussiness Administration(MBA)</li>
    <li>
      MBA specialization in Innovation, Entrepreneurship & Venture Development
    </li>
    <li> M.Sc - (Finance And Control)</li>
    <li> M.Sc - Chemistry</li>
    <li> M.Sc - Physics</li>
    <li> M.Sc - Applied Mathematics</li>
    <h3>Eligibility Criteria for M.Tech Admission</h3>
    <p>B Tech with 55% marks in the corresponding discipline of Engineering / Technology.
      For M.Tech Computer Science & Engineering programme, any M.Sc., or B.Tech. in any Branch of Engineering are
      eligible .
      For M.Tech. Bio-Technology, a pass with 55% marks in B.E/B.Tech (Chemical Engg./Leather
      Technology/Bio-Tech./Industrial Bio-Tech./Bio-Chemical Engg./Bio-Informatics) or B.Pharm. or
      M.Sc.(Ag.)/M.V.Sc./M.Sc. in any branch of Life Sciences.
    </p>
    <h3>Eligibility Criteria for MBA Admission</h3>
    Bachelor Degree with 55% marks in any discipline under 10+2+3 pattern.
    Should have secured rank in KL Business School Aptitude Test(KLUBSAT)/ ICET / MAT / CAT / XAT & Personal Interview.
  </div>
  <li><a routerLink=" " (click)="showData3()">International Admissions</a></li>
  <div *ngIf="showInfo3">
    <li>Who can apply under the International student category? Foreign nationals, PIO card holders, OCI (Dual
      citizens), NRI students, and NRI sponsored students can apply under the category of International students. 15% of
      the seats at KLEF are reserved under this category foreign national, PIO card holder, OCI (Dual citizens) and NRI
      students get preference over NRI sponsored students.
    </li>
    <li>
      The Office of International Relations of KLEF is the nodal point for international admissions. International
      students will be admitted at the beginning of the academic year commencing in July/ August every year.However
      students can also be admitted under Exchange Program for which there should be a Memorandum of Understanding. The
      admissions are based on merit based on the marks/grades obtained in the qualifying examination (equivalent to the
      10+2 examinations of India/Graduation/Post-Graduation). International students are not required to take the
      entrance examination conducted for resident Indian students.
    </li>
    <div class="pics">
      <img src="../../assets/13.jpg" alt="InternationalStudents" height="250" width="500">
      <img src="../../assets/14.jpg" alt="InternationalStudents" height="250" width="500">
    </div>
  </div>
  <li><a routerLink=" " (click)="showData4()">Transfer of Admission from Other Institutions</a></li>
  <div *ngIf="showInfo4">
    <li>Students from Indian/Abroad Institutions are eligible to take the admission in KLEF, Vijayawada or Hyderabad
      campuses under credit transfer scheme. Credits earned by the student can be directly transferred irrespective of
      the subjects studied.</li>
    <li>If there is a prerequisite course, or compulsory course the same has to be completed as per the academic policy
      of the KLEF
    </li>
    <li>
      The student must study for at least half of the duration of the minimum stipulated duration for the program at
      KLEF.
    </li>
    <li> Student may be allowed to do some of the courses on MOOC platform with prior permission of Dean, Academics
    </li>
  </div>
</ul>
