<div class="pics">
  <img src="../../assets/5.jpg" alt="KLU" height="250" width="600">
  <img src="../../assets/2.jpg" alt="KLU" height="250" width="600">
</div>
<div class="about">
  <h3>{{"History" | uppercase}}</h3>
  <p>
    KL Deemed to be university was established in 1980-81, as KL College of Engineering, which was upgraded to KL
    College
    of
    Engineering Autonomous in 2006 by UGC, and was declared as a Deemed to be University in 2009 by UGC, MHRD Govt.of
    India.
    In 2012 as a Deemed to be University the institution was accredited by NAAC with A Grade and later in 2018, was
    re-accredited by NAAC with A++ grade. In 2019 UGC, MHRD declared this intuition as Category I Institution.

    The institutes remains indebted to leadership of our late co-founder Er.Koneru Lakshmaiah, and our Founder Er.Koneru
    Satyanarayana, both of whose vision has helped in creating this abode of learning, which has emerged as one of the
    elite
    institutes of the nation.
  </p>

  <h3>{{"Location" | uppercase}}</h3>
  <p>
    K L Deemed to be University is situated in a spacious 100-acre campus, with a built up area of over 20,00,000 Sq
    Ft.,
    on
    the banks of Buckingham Canal of river Krishna, the campus is eight kilometers from Vijayawada city. Built within a
    rural setting of verdant green fields, the institute is a virtual paradise of pristine nature and idyllic beauty.
    The
    campus has been aptly named "Green Fields" and the splendid avenue of trees and gardens bear testimony to the
    importance
    of ecology and environment. The campus ambience is most befitting for scholastic pursuits.

    The new off campus, has come up in 2017 at Hyderabad, Moinabad, Aziznagar Road, near TSPA Junction, on the road
    leading
    to Chilkur Balaji temple, with a built up area of 10,00,000 Sq.ft, which is temporary campus, and the permanent
    campus
    is being made ready at Bachupally.
  </p>

  <h3>{{"Awards" | uppercase}}</h3>
  <ul>
    <li>KL (Deemed to be University) placed #71-75 Rank in QS India University Rankings 2019</li>
    <li>KL Ranked #1 among Young Universities by Outlook-ICARE India University Rankings 2019.</li>
    <li>KLEF Ranked 12th in Top 140 Engineering Institutes in India by Times Engineering Survey 2019.</li>
    <li>"Indian Education Network has awarded K L as "Best Higher Education Institute for Skill Development "at 6th
      Skill Development Summit 2018.</li>
    <li>India Today Magazine Survey 2018 has ranked K L as 9th Best Private University in India.</li>
    <li>"Most Clean Campus in South Central Region" by All India Council for Technical Education (AICTE) - Clean Campus
      Awards 2017.</li>
    <li>Carrers 360 had endorseD K L with AAAA+ rating for the year 2018.</li>
    <li>K L Campus got 1St Rank under Universities (Private) Category at AP Green Awards announced by Govt. of Andhra
      Pradesh.</li>
    <li>Higher Education Review Survey 2018 has awarded K L as No.1 Deemed University in Andhra Pradesh State.</li>
    <li>1st Rank in Andhra Pradesh (AP) by Australia based organization - uniRank "2018 Indian University Ranking".</li>
  </ul>
</div>
