<ul class="clg">
  <li><a routerLink=" " (click)="showData()">K L College of Engineering</a></li>
  <div *ngIf="showInfo" class="div1">
    <li>Computer Science and Engineering</li>
    <li>Bio-Technology</li>
    <li>Civil Engineering</li>
    <li>Electronics and Communication Engineering</li>
    <li>Electrical and Electronics Engineering</li>
    <li>Mechanical Engineering</li>
    <li>Petroleum Engineering</li>
  </div>
  <a routerLink=" " (click)="showData1()">K L School of Architecture</a>
  <div *ngIf="showInfo1" class="h3">
    <h3>{{"About us" | uppercase}}</h3>
    <p>
      The KLEF School of Architecture academic focus and approach is a unique blend of design, creativity and
      objectivity with a social purpose. The focus empowers students in architecture and design skills combine with
      social analysis and communication skills to contribute to the creation of a new professional identity. Students
      not only learn the skills required, but during the course of studies the students are exposed to thought-provoking
      and intellectually inspiring sessions, through studios, field trips and research projects, which brings out the
      creative best in them. Our program is highly regarded because we combine intellectual curiosity and ambition with
      professional prowess. KLEFSA has interactive classes, highly qualified and skilled faculties, which makes the
      learning easy.
    </p>
    <h3>{{"Our mission is" | uppercase}}</h3>
    <p>
      To impart higher quality education making the students well equipped to face the challenges of the
      present &
      future trends in the architectural field enabling them to be globally competitive and socially responsible
      architects with intrinsic values.
    </p>
  </div>
  <li><a routerLink=" " (click)="showData2()">K L Business School </a></li>
  <div *ngIf="showInfo2" class="div3">
    <li>BBA - Logistics & Supply Chain Management</li>
    <li>BBA - Bussiness Analytics</li>
    <li>BBA - Industry Empowered Graduate Program</li>
    <li>MBA - Nurturing Tomorrow's Business Leaders</li>
    <li>MBA - Innovation , Entrepreneurship & Venture Development</li>
  </div>
  <li><a routerLink=" " (click)="showData3()">K L College of Commerce</a></li>
  <div *ngIf="showInfo3">
    <ul>
      <h3>{{ "vision" | uppercase }}</h3>
      <li>To be globally competitive center of excellence in the core areas of accounting and finance.</li>

      <h3>{{ "Mission" | uppercase }}</h3>
      <li>To be involved in consultancy services in the areas of accounting, finance and taxation.</li>
      <li>Emphasize on summer internships with industrial training as per the current need of the market</li>
      <li>To impart quality higher education and to undertake research and extension with emphasis on application and
        innovation that cater to emerging societal needs through all-round development of students of all sections
        enabling them to be globally competitive and responsible citizens.
      </li>
      <h3>{{ "Program Outcomes" | uppercase }}</h3>
      <li>To introduce the students to the world of trade and commerce.</li>
      <li>To make the students competent to deal with Accounting and Finance Practices.</li>
      <li>To nurture students as real professional auditors and tax practitioners.</li>
    </ul>
  </div>
  <li><a routerLink=" " (click)="showData4()">K L College of Pharmacy</a></li>
  <div *ngIf="showInfo4">
    <ul>
      <h3>{{ "vision" | uppercase }}</h3>
      <li>Lead the future of global healthcare and well-being of the communities we serve.</li>

      <h3>{{ "Mission" | uppercase }}</h3>
      <li>Provide the most comprehensive and highest quality of education in pharmaceutical sciences, in a learning
        environment that embraces diversity, equity, integrity, ethics, moral courage and accountability
      </li>
      <li>Develop a passion for discovery and innovation with multidisciplinary collaborative research, and engage in
        creative partnerships locally and globally to advance health education, research, and practice.
      </li>
      <h3>{{ "Program Outcomes" | uppercase }}</h3>
      <li>Provide basic knowledge for understanding the principles and their applications in the area of Pharmaceutical
        Sciences and Technology.</li>
      <li>Develop an ability to use various instrument and equipment with an in-depth knowledge on standard operating
        procedures for the same.
      </li>
      <li> Develop an aptitude for continuous learning and professional development with ability to engage in pharmacy
        practice and health education programs.
      </li>

    </ul>
  </div>
</ul>
